.inputOptions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.inputOptions > div > img{
    width: 30px;
    height: 30px;
}

.inputItem{
    display: flex;
    align-items: center;
}

.inputItem:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputItem> img{
    margin: 5px;
}

